/* .border-bottom1 {
    width: 250px;
    margin-left: -5px;
    border-bottom: 1px solid #3b5998;
    
}
.border-bottom {
    border-color: #173a86 !important ;
}
.borderBottom{
    width: 238px;
    border-bottom: 1px solid #263f78;
} */
/* 3b5998 */

